body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.tile-wrapper {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    padding-right: 3px;
    padding-bottom: 3px;
}
.tile {
    width: 100%;
    height: 100%;
    line-height: 97px;
    text-align: center;
    border: 3px solid #333;
    border-radius: 5px;
    font-size: 26px;
    cursor: pointer;
}

.tile-0 {
    background: rgb(61, 83, 195);
}
.tile-1 {
    background: rgb(216, 219, 75);
}
.tile-2 {
    background: rgb(163, 241, 144);
}
.tile-3 {
    background: rgb(236, 74, 225);
}
.tile-4 {
    background: rgb(54, 171, 226);
}
.tile-5 {
    background: rgb(143, 253, 141);
}
.tile-6 {
    background: rgb(255, 197, 164);
}
.tile-7 {
    background: rgb(210, 172, 76);
}
.tile-8 {
    background: rgb(250, 140, 226);
}
.tile-none {
    background: rgb(228, 228, 228);
}

.reset {
    margin: 0 auto;
    width: 100px;
    text-align: center;
    cursor: pointer;
    background: rgb(140, 140, 140);
    padding: 10px 0;
    border-bottom: 3px ridge rgb(17, 14, 14);
    margin-top: 30px;
    font-size: 16px;
}
.reset:active {
    transform: translateY(3px);
    border: none;
}
.reset:focus {
    outline: none;
}