@charset "utf-8";
body {
    font-size: 1.1em;
    line-height: 1.8;
    margin: 0px;
}
#all {
    height: auto;
    margin: 0px auto;
}
h1 {
    padding-left: 10px;
    margin: 0px auto;
}
header {
    background-color: #6495ed;
}
section {
    background-color: #fffaf0;
    margin: 0px;
    padding: 20px;
}
h2 {
    border-left: 10px solid #c96ab8;
    border-bottom: 1px solid #c96ab8;
    padding-left: 10px;
    margin: 0px;
}
p {
    padding-left: 40px;
    margin: 0px auto;
}
.spbutton{
    display: block;
}
.spbutton ul{
    list-style: none;
}
.button {
    display: none;
}

footer {
    background-color: #ffffff;
    text-align: center;
}